body {
    background: #1e1f22;
    color: white;
    font-family: Arial;
    margin: 0;
}

#topBar {
    background: #2b2d31;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#chat {
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 60%;
}

.me { background: #5865f2; align-self: flex-end; }
.other { background: #2b2d31; }
.system { background: #444; align-self: center; font-size: 12px; }

#inputBar {
    display: flex;
    padding: 10px;
}

#msg {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    margin-left: 5px;
}
